<!DOCTYPE html>
<html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://www.diasporicans.com/assets/images/diasporicans-01.png"/>
    <meta property="og:title" content="Diasporicans - Uniting the diaspora with the Puerto Rico "/>
    <meta property="og:url" content="http://www.diasporicans.com"/>
    <meta property="og:site_name" content="Random Sentence Generator"/>
    <meta property="og:type" content="website"/>
    <title>Science of People Random Sentence Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>

  <body>


      <h1>{{sentence}}</h1>

      <input type="button" value="Generate different sentence" onClick="window.location.reload()">

  </body>
</html>
